.banner-container {
    gap: 1rem;
    display: grid;
    padding: 0 1rem;
    
    .banner {
        gap: 1.5rem;
        display: grid;
        padding: 1.5rem;
        border-radius: 1rem;
        backdrop-filter: blur(2rem);
        background: $transparent-dark;
        outline: 1px solid $light-dark;

        div {
            &:nth-child(1) {
                display: flex;
                align-items: center;
                padding-bottom: 1rem;
                justify-content: space-between;
                border-bottom: 1px solid $light-dark;

                h1 { 
                    color: #ccc;
                    font-size: 1em; 
                }
            }
            
            &:nth-child(2) {
                h1 {
                    color: #fff;
                    font-size: 3em;
                    font-family: roboto;
                }
                
                h2 { 
                    color: #fff; 
                    font-family: roboto;
                }
                
                p {
                    color: #ccc;
                    font-size: 1.1em;
                    margin-top: 1rem;
                    max-width: 500px;
                    font-family: geogrotesque;
                }
            }

            &:nth-child(3) {
                gap: .5rem;
                display: flex;
                align-items: center;

                svg { color: #ccc; }
                h1 { 
                    color: #fff; 
                    font-size: 1.1em;
                }
            }
        }
    }
    
    .highlights {
        gap: .5rem;
        display: grid;

        h1 {
            color: #fff;
            margin: .5rem 0;
            font-size: 1.2em;
            text-transform: uppercase;
        }

        .more-details {
            gap: .5rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        
            .detail {
                padding: 1rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                border-radius: 1rem;
                backdrop-filter: blur(2rem);
                background: $transparent-dark;
                outline: 1px solid $light-dark;

                svg {
                    width: 2rem;
                    height: 2rem;
                    color: #fff;
                    margin-bottom: 1rem;
                }
                
                h1 {
                    color: #fff;
                    margin: .3rem 0;
                    font-size: 1.1em;
                }
                
                p {
                    color: #ccc;
                }
            }
        }
    }

}



@media (min-width: 455px) {
    .banner-container .highlights .more-details {
        gap: .5rem;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
}

@media (min-width: 575px) {
    .banner-container .highlights .more-details {
        gap: .5rem;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    
    
    .banner-container .highlights .more-details .detail {
        gap: 1rem;
        display: flex;
        padding: 1.5rem;
        flex-direction: row;
        
        svg {
            margin: 0;
            width: 2rem;
            height: 2rem;
        }
        
    }
}

@media (min-width: 650px) {
    .banner-container .highlights .more-details {
        gap: .5rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .banner-container .highlights .more-details .detail {
        gap: 1rem;
        display: flex;
        flex-direction: row;
        
        svg {
            margin: 0;
            width: 2.5rem;
            height: 2.5rem;
        }
        
    }
}