* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    box-sizing: border-box;
    font-family: geogrotesque, roboto, sans-serif;
}

$primary-theme: #9900ff;
$secondary-theme: #ea00ff;
$primary-theme-white: #fdfaff;

$dark: #282f38;
$darker: #20252c;
$transparent-dark: #20252c90;
$light-dark: #3b4450;

body {
    height: 100vh;
    overflow: hidden;
    background: $darker;

    &::before {
        content: "";
        top: -5rem;
        left: -5rem;
        width: 300px;
        height: 300px;
        filter: blur(1rem);
        border-radius: 50%;
        position: absolute;
        background: $primary-theme;
        z-index: -1;
    }
    
    &::after {
        content: "";
        bottom: -5rem;
        right: -5rem;
        width: 300px;
        height: 300px;
        filter: blur(1rem);
        border-radius: 50%;
        position: absolute;
        background: $secondary-theme;
        z-index: -1;
    }
}
