* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    box-sizing: border-box;
    font-family: geogrotesque, roboto, sans-serif;
}

$primary-theme: #9900ff;
$secondary-theme: #ea00ff;
$primary-theme-white: #fdfaff;

$dark: #282f38;
$darker: #20252c;
$transparent-dark: #20252c90;
$light-dark: #3b4450;

body {
    height: 100vh;
    overflow: hidden;
    background: $darker;

    &::before {
        content: "";
        top: -5rem;
        left: -5rem;
        width: 300px;
        height: 300px;
        filter: blur(1rem);
        border-radius: 50%;
        position: absolute;
        background: $primary-theme;
        z-index: -1;
    }
    
    &::after {
        content: "";
        bottom: -5rem;
        right: -5rem;
        width: 300px;
        height: 300px;
        filter: blur(1rem);
        border-radius: 50%;
        position: absolute;
        background: $secondary-theme;
        z-index: -1;
    }
}


#app {
    gap: 1rem;
    margin: auto;
    display: grid;
    height: 100vh;
    max-width: 900px;
    // max-height: 840px;
    overflow-y: scroll;
    
    section {
        
        &:nth-child(1) {
            padding: 1rem 1rem 0 1rem;

            nav {
                padding: 1rem;
                display: flex;
                align-items: center;
                border-radius: 1rem;
                backdrop-filter: blur(2rem);
                background: $transparent-dark;
                justify-content: space-between;
                outline: 1px solid $light-dark;
            
                svg {
                    color: #fff;
                    cursor: pointer;
                }

                h1 {
                    color: #fff;

                    span { color: $primary-theme; }
                }
            }
        }
        
        &:nth-child(2) {
            gap: 1rem;
            display: grid;
            padding: 0 1rem;
            
            .banner {
                gap: 1.5rem;
                display: grid;
                padding: 1.5rem;
                border-radius: 1rem;
                backdrop-filter: blur(2rem);
                background: $transparent-dark;
                outline: 1px solid $light-dark;

                div {
                    &:nth-child(1) {
                        display: flex;
                        align-items: center;
                        padding-bottom: 1rem;
                        justify-content: space-between;
                        border-bottom: 1px solid $light-dark;

                        h1 { 
                            color: #ccc;
                            font-size: 1em; 
                        }
                    }
                    
                    &:nth-child(2) {
                        h1 {
                            color: #fff;
                            font-size: 3em;
                            font-family: roboto;
                        }
                        
                        h2 { 
                            color: #fff; 
                            font-family: roboto;
                        }
                        
                        p {
                            color: #ccc;
                            font-size: 1.1em;
                            margin-top: 1rem;
                            max-width: 500px;
                            font-family: geogrotesque;
                        }
                    }

                    &:nth-child(3) {
                        gap: .5rem;
                        display: flex;
                        align-items: center;

                        svg { color: #ccc; }
                        h1 { 
                            color: #fff; 
                            font-size: 1.1em;
                        }
                    }
                }
            }
            
            .highlights {
                gap: .5rem;
                display: grid;

                h1 {
                    color: #fff;
                    margin: .5rem 0;
                }

                .more-details {
                    gap: .5rem;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                
                    .detail {
                        padding: 1rem;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        border-radius: 1rem;
                        backdrop-filter: blur(2rem);
                        background: $transparent-dark;
                        outline: 1px solid $light-dark;

                        svg {
                            width: 2rem;
                            height: 2rem;
                            color: #fff;
                            margin-bottom: 1rem;
                        }
                        
                        h1 {
                            color: #fff;
                            margin: .3rem 0;
                            font-size: 1.1em;
                        }
                        
                        p {
                            color: #ccc;
                        }
                    }
                }
            }

        }



        &:nth-child(3) {
            margin: 1rem 0;

            .top-bar {
                gap: 1rem;
                display: flex;
                padding: 0 1rem;
                align-items: center;

                p {
                    color: #fff;
                    font-size: 1.3em;
                    cursor: pointer;
                }
            }

            .forecast-container {
                gap: .5rem;
                display: grid;

                h1 {
                    color: #fff;
                    margin: 0 1rem;
                }

                .forecast-list {
                    gap: .5rem;
                    display: flex;
                    padding: .5rem 1rem;
                    align-items: center;
                    overflow-x: scroll;

                    .forecast {
                        height: 150px;
                        padding: 1rem;
                        display: flex;
                        min-width: 120px;
                        align-items: center;
                        border-radius: 1rem;
                        flex-direction: column;
                        backdrop-filter: blur(2rem);
                        background: $transparent-dark;
                        outline: 1px solid $light-dark;
                    }
                }

            }
        }

    }

}