@import "./global";
@import "./navbar";
@import "./banner";
@import "./footer";

body {
    height: 100vh;
    overflow: hidden;
    background: $darker;
    background-image: radial-gradient(#0077ff20 50%, $darker, $darker);
}

#root { width: 100%; }

#app {
    width: 100%;
    margin: auto;
    overflow-y: scroll;
}


@media (min-width: 800px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #app {
        width: 100%;
        max-width: 800px;
    }
    
}