* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    font-family: geogrotesque, sans-serif;
}

@font-face {
    font-family: geogrotesque;
    src: url(./assets/geogrotesque.otf);
}

*::-webkit-scrollbar { width: 5px; height: 4px }
*::-webkit-scrollbar-thumb {
    background: #7f00d4;
    border-radius: 5rem;
}
*::-webkit-scrollbar-track { 
    border-radius: 5rem; 
    background: #202032; 
}

body {
    height: 100vh;
    background: #161623;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}